/* shared styels */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

main section {
  margin-top: 100px;
}

.btn-primary {
  border-radius: 5px;
  background: #fff;
  padding: 10px 20px;
  border: 0;
  margin-right: 190px;
  font-size: 17px;
  color: #005fac;
  text-align: center;
  font-weight: 600;
}

/* headers styles */
header {
  background-image: url("./images/banner/banner3.png");
  height: 800px;
}
header div {
  text-align: right;
}
.header-title {
  color: #fff;
  font-size: 58px;
  padding: 230px 190px 0 700px;
}
.header-description {
  color: #fff;
  font-size: 16px;
  padding: 20px 190px 30px 830px;
}

/* main section styles */
.my-failures-container {
  display: flex;
  background: #fff;
  justify-content: center;
  margin: 0 130px;
  align-items: center;
}
.failure-column {
  width: 50%;
  text-align: left;
}

.failure-title {
  color: #151414;
  font-size: 35px;
  width: 50%;
}

.failure-description {
  color: #444343;
  font-size: 16px;
  padding-top: 25px;
  width: 80%;
  padding-bottom: 15px;
}

.check-sign {
  font-size: 22px;
  color: #16d887;
}

/* My Plans sections styles */
.plan-title {
  color: #151414;
  text-align: center;
  font-size: 35px;
}

.plans-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 40px 100px;
}

.plan-content img {
  padding-bottom: 12px;
}

.plan-content h5 {
  color: #151414;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
.plan-content h6 {
  color: #737272;
  text-align: center;
  font-size: 19px;
}

/* positive mindset styles */
.positive-mindset-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 1140px;
  height: 200px;
  background-image: url("./images/gradient1.png"), url("./images/watch.png");
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  position: relative;
  border-radius: 8px;
  margin: auto;
}

.positive-mindset-content {
  padding-left: 100px;
  width: 40%;
}

.positive-mindset-content h4 {
  color: #fff;
  font-size: 35px;
  padding-bottom: 16px;
}
